:host {
  position: absolute;
  max-height: 43px;
  height: 43px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0055CC;
  padding: 15px 25px;
  color: white;
  text-align: center;
  white-space: nowrap;
  width: 40%;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  z-index: 1000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatbot-header p {
  font-family: Flanders Art Sans !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  a {
    z-index: 100000000;
    color: white;
    // text-decoration: none;
    // margin-left: 5px;
  }
}

.chat-container {
  background: linear-gradient(to bottom, #0055CC 50%, #ECEFF4 50%);
  width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: center;
}

.chat-title {
  font-size: 24px;
  color: white;
  margin-bottom: 5px;
  text-align: left;
}

.chat-subtitle {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}

.preset-questions {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 20px;
  flex-wrap: wrap;

  &__item {
    background-color: white;
    color: black;
    padding: 15px;
    flex: 1 1 25%;
    max-width: calc(30.8% - 12px);
    min-height: 150px;
    text-align: left;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    box-sizing: border-box;

    &:hover {
      transform: scale(1.05);
    }

    .icon {
      display: flex;
      align-items: center;
      font-size: 22px;
      margin-bottom: 10px;
      color: #0055CC;

      mat-icon {
        margin-right: 5px; // Adjust the spacing as needed
      }
    }

    .text {
      font-size: 14px;
      white-space: normal;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }

    .subtext {
      font-size: 12px;
      color: gray;
    }
  }

  &__item--wide {
    flex: 1.5 1 45%;
    max-width: calc(45% - 12px);
  }
}

.preset-questions-not-logged-in {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 20px;
  flex-wrap: wrap;

  &__item {
    background-color: white;
    color: black;
    padding: 15px;
    flex: 1 1 25%;
    max-width: calc(50% - 12px);
    min-height: 150px;
    text-align: left;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    box-sizing: border-box;

    &:hover {
      transform: scale(1.05);
    }

    .icon {
      display: flex;
      align-items: center;
      font-size: 22px;
      margin-bottom: 10px;
      color: #0055CC;

      mat-icon {
        margin-right: 5px; // Adjust the spacing as needed
      }
    }

    .text {
      font-size: 14px;
      white-space: normal;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }

    .subtext {
      font-size: 12px;
      color: gray;
    }
  }
}

.input-container {
  margin-top: 60px;
  display: flex;
  align-items: center;
  background: white;
  padding: 5px 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  border: 1px solid #8695A8;
  border-radius: 3px;

  input {
    flex: 1;
    border: none;
    outline: none;
    padding: 12px 40px 12px 15px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
  }

  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: black;
    cursor: pointer;
  }

  .send-icon {
    right: 15px;
    display: flex;
    align-items: center;
  }
}

.messages {
  padding: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  white-space: normal;
}

.message {
  display: block;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;

  &.left {
    text-align: left;
    width: 60%;
  }
}

#typing {
  display: block;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

.arrow {
  position: absolute;
  right: 15px;
}

.stars {
  position: absolute;
  left: 15px;
}

.chat-container-messages {
  background-color: #ECEFF4;
  background: #ECEFF4;
  color: black;

}
.message-container {
  overflow-y: auto;
  height: 400px;
  width: 100%;
}

.input-container-messages {
  display: flex;
  align-items: center;
  background: white;
  padding: 5px 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  border: 1px solid #8695A8;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;

  input {
    flex: 1;
    border: none;
    outline: none;
    padding: 12px 40px 12px 15px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
  }
}
