<div class="chatbot-banner">
    <div class="main">
        <mat-icon class="icon">auto_awesome</mat-icon>
        <div class="text">
            <p class="greeting-text">Hey Jan,</p>
            <p class="main-text">volgens mijn bronnen komt je nieuwe huis perfect in aanmerking voor een
                woonpremie.<br />Wil je samen een simulatie maken om te controleren dat alles klopt?</p>
        </div>
    </div>
    <button class="start-button">
        <mat-icon class="icon">auto_awesome</mat-icon>
        Start simulatie Woonpremie
    </button>
</div>