<div class="chatbot-banner">
    <div class="main">
        <mat-icon class="icon">auto_awesome</mat-icon>
        <div class="text">
            <p class="greeting-text">Hey Jan,</p>
            <p class="main-text" [innerHTML]="bannerText"></p>
        </div>
    </div>
    @switch (buttonType) {
        @case (0) {
            <a routerLink="/verbouw-premie-sim" class="start-button">
                <mat-icon class="icon">auto_awesome</mat-icon>
                Simuleer woonpremie
            </a>
        }
        @case (1) {
            <button class="start-button">
                <mat-icon class="icon">auto_awesome</mat-icon>
                Vul in
            </button>
        }
    }
</div>