<div class="chatbot-banner">
    <div class="main">
        <p class="icon">X</p>
        <div class="text">
            <p class="greeting-text">Hey Jan,</p>
            <p class="main-text">volgens mijn bronnen komt je nieuwe huis perfect in aanmerking voor een
                woonpremie.<br />Wil je samen een simulatie maken om te controleren dat alles klopt?</p>
        </div>
    </div>
    <button class="start-button">
        <img class="icon" />
        Start simulatie Woonpremie
    </button>
</div>