@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.chatbot-banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    gap: 15px;
    background-color: #0055CC;

    &.loading {
        justify-content: center;
        color: #fff;

        .icon {
            box-shadow: 0px 0px 1px 1px #0000001a;
            animation: pulse-animation 2s infinite;
            border-radius: 50%;
        }
        
        @keyframes pulse-animation {
          0% {
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
          }
          100% {
            box-shadow: 0 0 0 2000px rgba(255, 255, 255, 0);
          }
        }
    }

    .main {
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;

        .icon {
            margin: 0 15px;
            width: 35px;
        }

        .text p {
            margin: 0;
            font-size: 11pt;
            font-weight: 400;

            &.greeting-text {
                color: #A3C2ED;
            }
        }
    }

    .start-button {
        color: #0055CC;
        display: flex;
        align-items: center;
        border: 0;
        width: auto;
        gap: 15px;
        line-height: normal;
        text-align: left;
        border-radius: 3px;
        background-color: white;
        font-size: 13pt;
        font-weight: 500;
        text-decoration: none;

        .icon {
            width: 35px;
        }
    }

    a.start-button {
        padding: 0;

        &:visited {
            color: #0055CC;
        }

        .icon {
            margin-left: 15px;
        }
    }

    button.start-button {
        padding: 15px;
        cursor: pointer;
        gap: 0;
    }
}